<section class="container">
    <header class="header d-flex">
        <div class="buscar-pensamento">
            <input type="search" 
            placeholder="o qual Autor você procura ?"
            class="filtro"
            autofocus      
            [(ngModel)]="search"   
            (keyup)="searchThoughts()"
            >
            <img src="../../../../assets/imgs/lupa.png" alt="">
        </div>      
        <h2 class="ff-inter">Meu Mural</h2>
    <div class="botoes">
        <button class="botao" routerLink="/criarPensamento">Adicionar pensamento</button>
        <button (click)="SeeThoughts()" class="botao">Ver Pensamentos Favoritos</button>
    </div>
    </header>
        <div class="mural" *ngIf="listThoughts.length > 0, else semPensamentos">
        <div *ngFor="let thoughts of listThoughts">
        <app-thoughts [thoughts]="thoughts" ></app-thoughts>
        </div>
    </div>
    <app-button-paginate [haveMorThoughts]="haveMoreThoughts" (click)="LoadMore()"></app-button-paginate>
    <ng-template #semPensamentos>
        <div class="ff-inter sem-pensamentos">
        <p>Não Há Pensamentos Cadastrados !!!</p>
        <img src="../../../../assets/imgs/logo-memoteca.png" alt="Nuvem Pensado">
        </div>
    </ng-template>
</section>
