<div class="pensamento {{ thoughts.customModel }} ff-roboto-mono" [ngClass] = "CheckCharacter()">
    <img src="../../../assets/imgs/{{ thoughts.customModel }}.png" alt="Aspas Coloridas">
    <p class="conteudo">{{ thoughts.thought }}</p>
    <p class="autoria"><b>{{ thoughts.author }}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="../../../assets/imgs/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir">
            <img src="../../../assets/imgs/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>