
.container-button
{
    display: flex;
    justify-content: center;
}
.button-paginate
{
   padding: 16px 20px;
   border-radius: 8px;
   background-color: #C2E2EE;
    color: #000;
    display: block;
    transition: background-color 0.5s ease;
}

.button-paginate:hover
{
    background-color: #6BD1FF;
    cursor: pointer;
    
}

.no-thought
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
    flex-wrap: wrap;
    font-size: 24px;
    color: black;
    font-weight: bold;
}